In [1]:
import pandas as pd
import ast

df = pd.read_csv('df_converted_fuel.csv')
df["fuel_value"] = df["fuel_value"].apply(ast.literal_eval)

In [2]:
df.head()

,IE,BU,CT,FMI,fuel_TOT_GS,fuel_TOT_DH,fuel_TOT_A,AN,SF,fuel_value
0,10.0,0.0,0.0,0,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
1,10.0,0.0,0.0,1,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
2,10.0,0.0,0.0,2,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
3,10.0,0.0,0.0,3,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
4,10.0,0.0,0.0,4,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."

In [3]:
import ast  # for safely evaluating strings containing Python expressions

df["fuel_value"] = df["fuel_value"].apply(ast.literal_eval)

In [4]:
fuel_value = df["fuel_value"]

In [5]:
fuel_value

0         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
1         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
2         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
3         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
4         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
                                ...
860995    {'H1': 3.88216e-06, 'H2': 2.0856e-08, 'H3': 2....
860996    {'H1': 3.8823e-06, 'H2': 2.09909e-08, 'H3': 2....
860997    {'H1': 3.89707e-06, 'H2': 2.10247e-08, 'H3': 2...
860998    {'H1': 3.88554e-06, 'H2': 2.0904e-08, 'H3': 2....
860999    {'H1': 3.8771e-06, 'H2': 2.08943e-08, 'H3': 2....
Name: fuel_value, Length: 861000, dtype: object

In [ ]:
fuel_value['highest_key'], fuel_value['highest_value'] = zip(*fuel_value.apply(lambda x: max(x.items(), key=lambda item: item[1])))

In [20]:
def get_top_3_with_values(x):
    sorted_items = sorted(x.items(), key=lambda item: item[1], reverse=True)
    return (
        sorted_items[0][0], sorted_items[0][1],  # first key and value
        sorted_items[1][0], sorted_items[1][1],  # second key and value
        sorted_items[2][0], sorted_items[2][1]   # third key and value
    )

(fuel_value['key1'], fuel_value['value1'], 
 fuel_value['key2'], fuel_value['value2'],
 fuel_value['key3'], fuel_value['value3']) = zip(*fuel_value.apply(get_top_3_with_values))

/tmp/ipykernel_2275079/3641392396.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (fuel_value['key1'], fuel_value['value1'],

In [21]:
from collections import Counter
isotope_counts = Counter(fuel_value['key1'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'U238': 861000})

In [22]:
from collections import Counter
isotope_counts = Counter(fuel_value['key2'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'F19': 861000})

In [23]:
from collections import Counter
isotope_counts = Counter(fuel_value['key3'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Na23': 749560, 'U235': 111440})