In [1]:
import pandas as pd

df = pd.read_csv("df_converted_fuel_with_half_life_2.csv")

In [2]:
df.head()

,IE,BU,CT,FMI,fuel_TOT_GS,fuel_TOT_DH,fuel_TOT_A,AN,SF,fuel_value,fuel_density_half_life
0,10.0,0.0,0.0,0,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'K40': 33876127591.149387, 'U234': 67749663.9..."
1,10.0,0.0,0.0,1,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'K40': 33876127591.149387, 'U234': 67749663.9..."
2,10.0,0.0,0.0,2,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'K40': 33876127591.149387, 'U234': 67749663.9..."
3,10.0,0.0,0.0,3,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'K40': 33876127591.149387, 'U234': 67749663.9..."
4,10.0,0.0,0.0,4,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'K40': 33876127591.149387, 'U234': 67749663.9..."

In [22]:
df_sample = df.copy()

In [23]:
import ast  # for safely evaluating strings containing Python expressions

df_sample["fuel_density_half_life"] = df_sample["fuel_density_half_life"].apply(ast.literal_eval)

In [24]:
fuel_value = df_sample["fuel_density_half_life"]

In [25]:
# Simple random sampling of 10000 rows
# fuel_value_sample = fuel_value.sample(n=10000)
fuel_value_sample = fuel_value

In [26]:
fuel_value_sample

0         {'K40': 33876127591.149387, 'U234': 67749663.9...
1         {'K40': 33876127591.149387, 'U234': 67749663.9...
2         {'K40': 33876127591.149387, 'U234': 67749663.9...
3         {'K40': 33876127591.149387, 'U234': 67749663.9...
4         {'K40': 33876127591.149387, 'U234': 67749663.9...
                                ...
860995    {'H3': 0.27627458336865024, 'Na22': 9.85491736...
860996    {'H3': 0.2810505844669134, 'Na22': 0.000105872...
860997    {'H3': 0.27887205765016176, 'Na22': 9.49907096...
860998    {'H3': 0.2786232673095505, 'Na22': 0.000108429...
860999    {'H3': 0.2777879505182753, 'Na22': 9.552322827...
Name: fuel_density_half_life, Length: 861000, dtype: object

In [27]:
def get_top_3_with_values(x):
    # Assuming x is already a dictionary
    if isinstance(x, dict):
        sorted_items = sorted(x.items(), key=lambda item: item[1], reverse=False)
        return (
            sorted_items[0][0], sorted_items[0][1],  # first key and value
            sorted_items[1][0], sorted_items[1][1],  # second key and value
            sorted_items[2][0], sorted_items[2][1]   # third key and value
        )
    else:
        # Handle the case where x is not a dictionary
        raise TypeError("Input must be a dictionary")


(fuel_value_sample['key1'], fuel_value_sample['value1'], 
 fuel_value_sample['key2'], fuel_value_sample['value2'],
 fuel_value_sample['key3'], fuel_value_sample['value3']) = zip(*fuel_value_sample.apply(get_top_3_with_values))

/tmp/ipykernel_1928543/2797935225.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (fuel_value_sample['key1'], fuel_value_sample['value1'],

In [28]:
from collections import Counter
isotope_counts = Counter(fuel_value_sample['key1'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Po213': 291851, 'At215': 254697, 'Po212': 122561, 'Cm249': 71750, 'At219': 27287, 'Po214': 19355, 'At217': 14472, 'Rn218': 11513, 'Po216': 10204, 'U241': 7176, 'Cm240': 4882, 'Sn113': 4372, 'Pu237': 3865, 'Pu243': 3723, 'Np238': 2870, 'Cm248': 2293, 'U234': 1435, 'Po218': 1435, 'Am244': 1435, 'Cm241': 1435, 'Am242': 1026, 'Cm244': 440, 'Np235': 418, 'Pu236': 363, 'Cm243': 142})

In [29]:
from collections import Counter
isotope_counts = Counter(fuel_value['key2'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Rn217': 249093, 'Po213': 215366, 'At219': 80338, 'Cm250': 69019, 'Po212': 38598, 'At217': 30454, 'Rn219': 26794, 'At215': 26538, 'Rn218': 22610, 'Po216': 21665, 'Po214': 17707, 'Po215': 13802, 'U241': 5235, 'Cm240': 4621, 'Np235': 4557, 'Ag110': 4540, 'Np238': 4305, 'Am242': 3723, 'Cm241': 2901, 'Pu238': 2870, 'Pu236': 2035, 'Am244': 1622, 'K40': 1435, 'Rn222': 1435, 'U240': 1435, 'Pu240': 1435, 'Cm243': 1435, 'Sn113': 1162, 'Pu237': 958, 'Cm247': 919, 'Am241': 914, 'Cm246': 860, 'Pu243': 440, 'Cm244': 142, 'Cm248': 28, 'Fr223': 7, 'Fr221': 1, 'Pu241': 1})

In [30]:
from collections import Counter
isotope_counts = Counter(fuel_value['key3'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Rn217': 219700, 'Po212': 166116, 'Rn218': 95036, 'Rn219': 80831, 'U241': 67036, 'Po214': 43189, 'At217': 35152, 'Po216': 31312, 'At215': 22758, 'Po215': 11462, 'Fr223': 9698, 'Cm240': 9371, 'At218': 6327, 'Sn113': 5731, 'Fr221': 5561, 'Np238': 4780, 'Pu240': 4305, 'Ag110': 4080, 'Tl209': 4038, 'Cm242': 3622, 'Np235': 3566, 'Pu237': 3418, 'Am244': 3222, 'Cm241': 3090, 'Rn220': 2858, 'Cm248': 2185, 'U235': 1435, 'Pa234': 1435, 'As74': 1435, 'U240': 1435, 'Cm244': 1435, 'Cm245': 1301, 'Am241': 997, 'Cm246': 800, 'Pu236': 681, 'Am242': 440, 'Pu241': 418, 'Cm250': 390, 'Pu243': 142, 'Cm243': 134, 'Cm247': 63, 'La140': 14, 'Pu238': 1})