In [2]:
import pandas as pd

df = pd.read_csv("df_converted_fuel_with_half_life.csv")

In [3]:
df.head()

,IE,BU,CT,FMI,fuel_TOT_GS,fuel_TOT_DH,fuel_TOT_A,AN,SF,fuel_value,fuel_density_half_life
0,10.0,0.0,0.0,0,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
1,10.0,0.0,0.0,1,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
2,10.0,0.0,0.0,2,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
3,10.0,0.0,0.0,3,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."
4,10.0,0.0,0.0,4,1.794450e+12,9.92946,1.285680e+13,0.8384,0.02793,"{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...","{'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26..."

In [5]:
import ast  # for safely evaluating strings containing Python expressions

df["fuel_density_half_life"] = df["fuel_density_half_life"].apply(ast.literal_eval)

In [30]:
fuel_value = df["fuel_density_half_life"]

In [31]:
# Simple random sampling of 10000 rows
# fuel_value_sample = fuel_value.sample(n=10000)
fuel_value_sample = fuel_value

In [32]:
fuel_value_sample

0         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
1         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
2         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
3         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
4         {'F19': 1.19531, 'Na23': 0.396987, 'K39': 0.26...
                                ...
860995    {'H1': 3.88216e-06, 'H2': 2.0856e-08, 'H3': 0....
860996    {'H1': 3.8823e-06, 'H2': 2.09909e-08, 'H3': 0....
860997    {'H1': 3.89707e-06, 'H2': 2.10247e-08, 'H3': 0...
860998    {'H1': 3.88554e-06, 'H2': 2.0904e-08, 'H3': 0....
860999    {'H1': 3.8771e-06, 'H2': 2.08943e-08, 'H3': 0....
Name: fuel_density_half_life, Length: 861000, dtype: object

In [33]:
def get_top_3_with_values(x):
    # Assuming x is already a dictionary
    if isinstance(x, dict):
        sorted_items = sorted(x.items(), key=lambda item: item[1], reverse=True)
        return (
            sorted_items[0][0], sorted_items[0][1],  # first key and value
            sorted_items[1][0], sorted_items[1][1],  # second key and value
            sorted_items[2][0], sorted_items[2][1]   # third key and value
        )
    else:
        # Handle the case where x is not a dictionary
        raise TypeError("Input must be a dictionary")


(fuel_value_sample['key1'], fuel_value_sample['value1'], 
 fuel_value_sample['key2'], fuel_value_sample['value2'],
 fuel_value_sample['key3'], fuel_value_sample['value3']) = zip(*fuel_value_sample.apply(get_top_3_with_values))

/tmp/ipykernel_1927099/746124126.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (fuel_value_sample['key1'], fuel_value_sample['value1'],

In [34]:
from collections import Counter
isotope_counts = Counter(fuel_value_sample['key1'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Zr96': 723240, 'U238': 137760})

In [35]:
from collections import Counter
isotope_counts = Counter(fuel_value['key2'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Mo100': 711760, 'U235': 103320, 'Zr96': 34440, 'U238': 11480})

In [36]:
from collections import Counter
isotope_counts = Counter(fuel_value['key3'])
print("Value counts of maximum isotopes:")
print(isotope_counts)

Value counts of maximum isotopes:
Counter({'Nd150': 688800, 'Zr96': 80360, 'Mo100': 34440, 'K40': 22960, 'U238': 22960, 'U235': 11480})